/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 14, 2025, 4:07:22 PM
    Author     : NHATHCE181222
*/

 .product-details-container {
     margin-top: 20px;
     background-color: #ffffff;
     border-radius: 10px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
     padding: 20px;
 }

 .product-image {
     width: 85%;
     margin-left: 20px;
     height: 450px;
 }

 .product-price {
     color: #e53935;
     font-size: 1.8rem;
     font-weight: bold;
 }

 .product-buttons .btn {
     margin-right: 10px;
 }

 .product-buttons {
     margin-top: 40px;
     margin-bottom: 60px;
 }

 .product-info-table th {
     width: 150px;

 }

 .fgh {
     margin-top: 30px;
 }

 .customize {
     padding: 12px 50px;
     border-radius: 18px;
     font-size: 17px;
     border: none;
     font-weight: 600;
 }

 .customize:first-child {
     background-color: rgb(237, 17, 100);
 }

 .customize:last-child {
     border: 2px solid rgb(237, 17, 100);
     color: rgb(237, 17, 100);
 }

 .byline {
     border-bottom: 1px solid black;
 }

 .footer-header {
     background-color: rgb(251, 211, 209);
 }

 .footer-last {
     background-color: rgb(237, 17, 100);
     color: white;
     line-height: 25px;
     /* text-align: center; */
     padding-top: 19px;
     padding-bottom: 30px;
 }

 .urt {
     font-size: 13px;
     font-weight: 400;
 }

 .urt li:hover {
     color: rgb(255, 230, 4);
     cursor: pointer;
 }

 .suggest-product img{
    width: 100%;
 }

.rxs {
    width: 100%;
    border: 2px solid rgb(239, 239, 239);
    padding: 10px;
    display: inline-block;
    border-radius: 14px;
}
 .hxe {
    width: 100%;
    height: 25px;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin: 10px 0px;
    background-color: red;
    display: inline-block;
    line-height: 25px;
   
 }

 .hxe:hover{
    color: red;
    text-decoration: none;
    background-color: white;
    border: 1px solid red;
 }
 
 .quantity-place {
    margin-top: 30px;
    margin-bottom: 30px;
}

 .quantity-place input {
    width: 120px;
    text-align: center;
    padding: 2px 6px;
    margin: 0;
    margin-left: 5px;
    margin-top: 2px;
 }

 .quantity-place button {
    padding: 4px 12px;
    position: absolute;
    border: 2px solid white;
    background-color: rgb(237, 17, 100);
    color: white;

}

 .quantity-place button:last-child {
       left: 20%;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
 }

 .quantity-place button:first-child {
    
     border-top-left-radius: 7px;
     border-bottom-left-radius: 7px;
 }
 
  