<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>Filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/LogoutController</url-pattern>
        <url-pattern>/ViewCartController</url-pattern>
        <url-pattern>/EditCart</url-pattern>
        <url-pattern>/AddToCart</url-pattern>
        <url-pattern>/viewProfileController</url-pattern>
    </filter-mapping>
    <!-- User Controllers -->
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductListController</servlet-name>
        <servlet-class>Controller.ViewProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartController</servlet-name>
        <servlet-class>Controller.ViewCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductDetailController</servlet-name>
        <servlet-class>Controller.ViewProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>Controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCartController</servlet-name>
        <servlet-class>Controller.EditCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProfileController</servlet-name>
        <servlet-class>Controller.viewProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfileController</servlet-name>
        <servlet-class>Controller.editProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePasswordController</servlet-name>
        <servlet-class>Controller.changePasswordController</servlet-class>
    </servlet>
    <!-- Admin Controllers -->
    <servlet>
        <servlet-name>AdminManagerProducts</servlet-name>
        <servlet-class>Controller.AdminManagerProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManagerOrders</servlet-name>
        <servlet-class>Controller.AdminManagerOrders</servlet-class>
    </servlet>
    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>SearchProductController</servlet-name>
        <servlet-class>Controller.SearchProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductListController</servlet-name>
        <url-pattern>/ViewProductListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartController</servlet-name>
        <url-pattern>/ViewCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductDetailController</servlet-name>
        <url-pattern>/ViewProductDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCartController</servlet-name>
        <url-pattern>/EditCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProfileController</servlet-name>
        <url-pattern>/viewProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfileController</servlet-name>
        <url-pattern>/editProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePasswordController</servlet-name>
        <url-pattern>/changePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManagerProducts</servlet-name>
        <url-pattern>/AdminManagerProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManagerOrders</servlet-name>
        <url-pattern>/AdminManagerOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductController</servlet-name>
        <url-pattern>/SearchProduct</url-pattern>
    </servlet-mapping>
    
    
    
   <error-page>
       <error-code>404</error-code>
       <location>/error.jsp</location>
  </error-page>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
