<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Filter Configuration -->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>Filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/LogoutController</url-pattern>
        <url-pattern>/ViewCartController</url-pattern>
        <url-pattern>/EditCart</url-pattern>
        <url-pattern>/AddToCart</url-pattern>
        <url-pattern>/viewProfileController</url-pattern>
        <url-pattern>/AdminManagerOrders</url-pattern>
        <url-pattern>/AdminManagerProducts</url-pattern>
        <url-pattern>/AdminManagerProducts</url-pattern>
        <url-pattern>/AdminManageStaff</url-pattern>
        <url-pattern>/AdminManager_Search</url-pattern>
        <url-pattern>/StaffManagerOrders</url-pattern>
    </filter-mapping>
    <!-- User Controllers -->
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductListController</servlet-name>
        <servlet-class>Controller.ViewProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartController</servlet-name>
        <servlet-class>Controller.ViewCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductDetailController</servlet-name>
        <servlet-class>Controller.ViewProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>Controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCartController</servlet-name>
        <servlet-class>Controller.EditCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProfileController</servlet-name>
        <servlet-class>Controller.viewProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfileController</servlet-name>
        <servlet-class>Controller.editProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePasswordController</servlet-name>
        <servlet-class>Controller.changePasswordController</servlet-class>
    </servlet>
    <!-- Admin Controllers -->
    <servlet>
        <servlet-name>AdminManagerProducts</servlet-name>
        <servlet-class>Controller.AdminManagerProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManagerOrders</servlet-name>
        <servlet-class>Controller.AdminManagerOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManager_Search</servlet-name>
        <servlet-class>Controller.AdminManager_Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductController</servlet-name>
        <servlet-class>Controller.SearchProductController</servlet-class>
    </servlet>
    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>FilterRatingController</servlet-name>
        <servlet-class>Controller.FilterRatingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderListController</servlet-name>
        <servlet-class>Controller.ViewOrderListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>Controller.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReviewContronller</servlet-name>
        <servlet-class>Controller.DeleteReviewContronller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReviewController</servlet-name>
        <servlet-class>Controller.AddReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageStaff</servlet-name>
        <servlet-class>Controller.AdminManageStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrderController</servlet-name>
        <servlet-class>Controller.CreateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderDetailController</servlet-name>
        <servlet-class>Controller.ViewOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderController</servlet-name>
        <servlet-class>Controller.CancelOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderController</servlet-name>
        <servlet-class>Controller.ConfirmOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffManagerOrders</servlet-name>
        <servlet-class>Controller.StaffManagerOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterProductController</servlet-name>
        <servlet-class>Controller.FilterProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>Controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>Controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageCategory</servlet-name>
        <servlet-class>Controller.AdminManageCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageCategoryDelete</servlet-name>
        <servlet-class>Controller.AdminManageCategoryDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageCategoryEdit</servlet-name>
        <servlet-class>Controller.AdminManageCategoryEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerDetails</servlet-name>
        <servlet-class>Controller.UpdateCustomerDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmBuyNow</servlet-name>
        <servlet-class>Controller.ConfirmBuyNow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrderBuyNowController</servlet-name>
        <servlet-class>Controller.CreateOrderBuyNowController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditReviewController</servlet-name>
        <servlet-class>Controller.EditReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageCategoryAdd</servlet-name>
        <servlet-class>Controller.AdminManageCategoryAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRatingDetailListForAdminDelete</servlet-name>
        <servlet-class>Controller.ViewRatingDetailListForAdminDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRatingDetailListForAdmin</servlet-name>
        <servlet-class>Controller.ViewRatingDetailListForAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRatingListForAdmin</servlet-name>
        <servlet-class>Controller.ViewRatingListForAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageStock</servlet-name>
        <servlet-class>Controller.AdminManageStock</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminManager_Search</servlet-name>
        <url-pattern>/AdminManager_Search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewFeedbackController</servlet-name>
        <servlet-class>Controller.ViewFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManagerUser</servlet-name>
        <servlet-class>Controller.AdminManagerUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductListController</servlet-name>
        <url-pattern>/ViewProductListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartController</servlet-name>
        <url-pattern>/ViewCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductDetailController</servlet-name>
        <url-pattern>/ViewProductDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCartController</servlet-name>
        <url-pattern>/EditCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProfileController</servlet-name>
        <url-pattern>/viewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfileController</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePasswordController</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManagerProducts</servlet-name>
        <url-pattern>/AdminManagerProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManagerOrders</servlet-name>
        <url-pattern>/AdminManagerOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductController</servlet-name>
        <url-pattern>/SearchProduct</url-pattern>
    </servlet-mapping>
    <!-- Error Page Configuration -->
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <!-- Session Configuration -->
    <servlet-mapping>
        <servlet-name>ViewFeedbackController</servlet-name>
        <url-pattern>/ViewFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManagerUser</servlet-name>
        <url-pattern>/AdminManagerUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterRatingController</servlet-name>
        <url-pattern>/FilterRating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderListController</servlet-name>
        <url-pattern>/ViewOrderListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReviewContronller</servlet-name>
        <url-pattern>/DeleteReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReviewController</servlet-name>
        <url-pattern>/AddReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageStaff</servlet-name>
        <url-pattern>/AdminManageStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrderController</servlet-name>
        <url-pattern>/CreateOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderDetailController</servlet-name>
        <url-pattern>/ViewOrderDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderController</servlet-name>
        <url-pattern>/CancelOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderController</servlet-name>
        <url-pattern>/ConfirmOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffManagerOrders</servlet-name>
        <url-pattern>/StaffManagerOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterProductController</servlet-name>
        <url-pattern>/FilterProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageCategory</servlet-name>
        <url-pattern>/AdminManageCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageCategoryDelete</servlet-name>
        <url-pattern>/AdminManageCategoryDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageCategoryEdit</servlet-name>
        <url-pattern>/AdminManageCategoryEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerDetails</servlet-name>
        <url-pattern>/UpdateCustomerDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmBuyNow</servlet-name>
        <url-pattern>/ConfirmBuyNow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrderBuyNowController</servlet-name>
        <url-pattern>/CreateOrderBuyNow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditReviewController</servlet-name>
        <url-pattern>/EditReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageCategoryAdd</servlet-name>
        <url-pattern>/AdminManageCategoryAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRatingDetailListForAdminDelete</servlet-name>
        <url-pattern>/ViewRatingDetailListForAdminDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRatingDetailListForAdmin</servlet-name>
        <url-pattern>/ViewRatingDetailListForAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRatingListForAdmin</servlet-name>
        <url-pattern>/ViewRatingListForAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageStock</servlet-name>
        <url-pattern>/AdminManageStock</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>500</session-timeout>
    </session-config>
</web-app>
